src/dist/
src/build/
src/*.egg-info/
**/__pycache__/

.svn/
.vscode/
_tools/

examples/*.log
testing/*.sh

**/OLD
**/*_old
**/*_OLD
**/*.OLD
**/*.bak
OLD
*_old
*_OLD
*.OLD
*.bak
*.UNUSED
*.DEACTIVATED
*.NOT_SUPPORTED
*.NOT_NEEDED
**/*.SAV
*.SAV
**/*.sav
*.sav

install*.sh
publish*.sh
uninstall*.sh
test*.sh
src/dist/
src/build/
src/*.egg-info/
**/__pycache__/

.svn/
.vscode

examples/*.log
testing/*.sh

**/OLD
**/*_old
**/*_OLD
**/*.OLD
**/*.old
**/*.bak
**/*.DONE
OLD
*_old
*_OLD
*.OLD
*.old
*.bak
*.DONE

install*.sh
publish*.sh
uninstall*.sh
test*.sh


